.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
pnpm-lock.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
