name: Package
on:
    push:
        branches:
            - main
env:
    FORCE_COLOR: true

jobs:
    Build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js 19
              uses: actions/setup-node@v4
              with:
                  node-version: 19
                  cache: "npm"

            - name: Install dependencies
              run: |
                    npm i
                    npm i -g @vscode/vsce

            - name: Build
              run: vsce package

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: dist
                  path: |
                      dist
